/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*.form-control{*/
/*  color: #757b80;*/
/*  background-color: rgb(28, 28, 33);*/
/*  border: 1px solid rgb(20, 20, 24);*/
/*}*/

/*.form-control:focus {*/
/*  color: #757b80;*/
/*  background-color: rgb(28, 28, 33);*/
/*  border-color: #80bdff;*/
/*  outline: 0;*/
/*  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);*/
/*}*/

/*!* Change Autocomplete styles in Chrome*!*/
/*input:-webkit-autofill,*/
/*input:-webkit-autofill:hover,*/
/*input:-webkit-autofill:focus,*/
/*textarea:-webkit-autofill,*/
/*textarea:-webkit-autofill:hover,*/
/*textarea:-webkit-autofill:focus,*/
/*select:-webkit-autofill,*/
/*select:-webkit-autofill:hover,*/
/*select:-webkit-autofill:focus {*/
/*  border: 1px solid #253725;*/
/*  -webkit-text-fill-color: #757b80;*/
/*  -webkit-box-shadow: 0 0 0px 1000px rgb(28, 28, 33) inset;*/
/*  transition: background-color 5000s ease-in-out 0s;*/
/*}*/

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #232426
}
