/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #373e40 !important;
}

.content{
  margin: 10px auto 32px !important;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-lg {
  max-width: 80% !important;
}

.modal-lg {
  max-width: 75% !important;
}


@media screen and (max-width: 1600px) {
  .modal-lg {
    max-width: 80% !important;
  }
}

@media screen and (max-width: 1300px) {
  .modal-lg {
    max-width: 85% !important;
  }
}


@media screen and (max-width: 1000px) {
  .modal-lg {
    max-width: 90% !important;
  }
}

@media screen and (max-width: 600px) {
  .modal-lg {
    max-width: 100% !important;
  }
}

.mat-select-value-text {
  color: white !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #305152;
}

.mat-form-field-infix{
  background-color: #3f4547;
  border-top: .84375em solid #292d2f;
}

.modal-content{
  color: rgb(218 219 219);
  padding: 2px 0px 0px 0px;
  background-color: #252a2b !important;
}

mat-label.ng-tns-c180-9.ng-star-inserted {


}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgb(218 219 219) !important;
}


